/*Display*/
    
#game{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    background: linear-gradient(to bottom right, #33ccff 9%, #007ca6 88%);
    padding: 10px;
    width: 100%;
    height: fit-content;
    -webkit-border-radius: 15px 0px 15px 0px;
    -moz-border-radius: 15px 0px 15px 0px;
    border-radius: 15px 0px 15px 0px;
}
/* game-container */
#game-container {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
/* Text-container */
#text-container {
    padding: 10px;
    margin: 5px;
    height: fit-content;
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

#guess-heading {
    text-align: left;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    font-size: 24px;
}

#word {
    margin: 5px;
    padding: 5px;
    display: block;
    width: 40%;
    float: left;
}

/* Hidden text */
#hidden-word{
    font-size: 18px;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    display: block;
    padding: 0px;

}
/* Wrong guess */

#wrong-guess{
    display: block;
    width: -moz-fit-content;
    margin: 0px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;    
}

#head5{
    text-align: right;
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: 'Bree Serif', serif;
}
/* keyboard */
#keyboard {
    float: right;
    width: 30%;
    padding: 13px;
    margin: 0px;
    display: block;
    background-color: #798C8C;
    text-align: left;
    height: fit-content;
    -webkit-border-radius: 0px 20px 0px 20px;
    -moz-border-radius: 0px 20px 0px 20px;
    border-radius: 0px 20px 0px 20px;
}
.letter-btn {
    margin: 2px;
    width: 35px;
    display: block;
    
}


.h5 {
    font-size: 18px;
    font-family: 'Bree Serif', serif;

}
/* Hangman image */
.hangman-img{
    float: left;
    padding: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.image {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    float: left;
}
/* Reset button */
#reset {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 30%;
}

#reset-button {
    float: left;
    display: block;
    width: 200px;
    font-size: 18px;
    font-family: 'Bree serif', serif;
}

.h2 {
    font-family: 'Bree Serif', serif;
}

